name: Run tests

on: [push]
jobs:
    test:
        name: "Run linter, tests and build"
        runs-on: "ubuntu-latest"
        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v6
            - name: 'Setup python'
              uses: actions/setup-python@v6
              with:
                python-version: '3.12'
            - name: 'Install pip and run test suite'
              run: |
                pip install hatch
                hatch run types:check
                hatch fmt --check
                hatch run test
                hatch build
